.outer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.inner {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  max-width: 1200px;
}
.row {
  display: flex;
  justify-content: center;
  align-items: center;
}
