.artistInfo {
  width: 100%;
  display: flex;
  justify-content: center;
  transition: 0.2s ease all;
}
.innerInfo {
  display: flex;
  flex-direction: row;
  transition: 0.2s ease all;
}
.artistBio {
  display: flex;
  justify-content: center;
  transition: 0.2s ease all;
}
.artistImage {
  display: flex;
  justify-content: center;
}
.innerImage {
  padding: 12px;
}
.innerBio {
  min-width: 225px;
  max-width: 560px;
  padding: 12px;
  width: 100%;
  height: 100%;
  font-size: 14px;
  transition: 0.2s ease all;
}
@media (max-width: 1080px) {
  .innerInfo {
    flex-direction: column;
  }
  .artistBio {
    text-align: center;
  }
}
@media screen and (max-width: 768px) {
  .artistImage {
    object-fit: cover;
  }
  .innerBio {
    padding: 0 16px;
  }
  .innerImage {
    aspect-ratio: 1/1;
    padding: 48px;
  }
}
