.card {
  aspect-ratio: 1/1;
  overflow: hidden;
  transition: 0.1s ease-in all;
}
.card a {
  text-decoration: none;
}

.card:hover {
  filter: brightness(50%);
  cursor: pointer;
}
.innerCard {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: -1;
  flex-direction: column;
}
.cardArtistName {
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  font-weight: 800;
  font-size: 36px;
  text-align: center;
  margin: 12px 0;
  z-index: 99;
}
.cardFeatureName {
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  font-weight: 700;
  font-size: 24px;
  text-align: center;
  z-index: 99;
}
@media screen and (max-width: 1080px) {
  .card {
    margin: 0 16px;
  }
}
