.socialLinksOuter {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 24px;
}
.socialLinksInner {
  width: 100%;
  max-width: 1200px;
  display: flex;
  justify-content: center;
  padding: 16px;
}
.socialLinksInner a {
  margin: 0 24px;
  display: flex;
  justify-content: center;
}

.socialLinksInner a img {
  transition: 0.1s ease all;
}

.socialLinksInner a img:hover {
  filter: invert(11%) sepia(100%) saturate(5146%) hue-rotate(341deg)
    brightness(86%) contrast(99%);
}
@media screen and (max-width: 768px) {
  .socialLinksInner {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}
