.card {
  aspect-ratio: 1/1;
  overflow: hidden;
  transition: 0.1s ease-in all;
}
.cardImage {
  width: 100%;
  height: 100%;
  object-fit: fill;
  filter: brightness(80%);
  z-index: -999;
  transition: 0.1s ease all;
}
.card:hover .cardImage {
  filter: brightness(50%);
  cursor: pointer;
}
.innerCard {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.innerCard p {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: absolute;
  word-wrap: break-word;
  word-spacing: 500000px;
  cursor: pointer;
}
.cardArtistName {
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 48px;
  word-break: break-all;
  text-align: center;
}
@media screen and (max-width: 1080px) {
  .card {
    transform: scale(0.95);
  }
}
