.artistInfoContainer {
  width: 100%;
  display: flex;
  justify-content: center;
}
.img {
  padding: 24px;
}
.artistInfoGrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 24px;
  max-width: 1200px;
  width: 100%;
  justify-self: center;
  transition: 0.2s ease all;
  word-break: keep-all;
}
#artistName {
  font-size: 24px;
  font-weight: bold;
}
.imgColumn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
#bioColumn span p {
  color: var(--accent);
}
#bioColumn span {
  display: flex;
}
#bioColumn img {
  filter: invert(11%) sepia(100%) saturate(5146%) hue-rotate(341deg)
    brightness(86%) contrast(99%);
  margin-right: 8px;
}
@media screen and (max-width: 1080px) {
  .artistInfoGrid {
    width: 100%;
    grid-template-columns: 1fr;
  }
  #bioColumn {
    text-align: center;
    width: 100%;
    padding: 30px 25px;
  }
  #bioColumn span {
    justify-content: center;
  }
}
