.card {
  aspect-ratio: 1/1;
  overflow: hidden;
  transition: 0.1s ease-in all;
}
.card a {
  text-decoration: none;
}
.textContainer {
  display: flex;
  justify-content: center;
  text-align: center;
}
.cardImage {
  width: 100%;
  height: 100%;
  object-fit: fill;
  filter: brightness(80%);
  z-index: -999;
  transition: 0.1s ease all;
}
.card:hover .cardImage {
  filter: brightness(50%);
  cursor: pointer;
}
.innerCard {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: -1;
}
.cardArtistName {
  color: black;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 14px;
  text-align: center;
  margin: 12px 0;
}
@media screen and (max-width: 1080px) {
  .card {
    margin: 0 16px;
  }
}
