.nav {
  display: flex;
  text-align: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1200px;
  margin: 8px 0;
}
.header {
  width: 100%;
  display: flex;
  justify-content: center;
  min-height: 100px;
  box-shadow: 0 4px 9px -2px rgba(138, 138, 138, 0.192);
  transition: 0.1s ease all;
}
.headerSticky {
  display: block;
  position: sticky;
  top: 0;
  z-index: 100;
}
.links {
  display: flex;
  align-items: center;
}
.mobileLinks {
  display: none;
  cursor: pointer;
}
.nav a {
  font-size: 1rem;
  margin: 0 0.75vw;
  text-decoration: none;
}
.nav a:hover {
  transition: ease 0.1s all;
  color: var(--accent);
}
.headerLogo {
  display: flex;
  align-self: center;
  float: left;
}
.headerLogo:hover {
  cursor: pointer;
}
.hamburger {
  transition: 0.1s ease all;
}
.hamburger:hover {
  filter: invert(11%) sepia(100%) saturate(5146%) hue-rotate(341deg)
    brightness(86%) contrast(99%);
}
@media screen and (max-width: 1080px) {
  .nav {
    padding: 0 12px;
  }
}
@media screen and (max-width: 768px) {
  .links {
    display: none;
  }
  .mobileLinks {
    display: flex;
    align-items: center;
  }
}
