.hero {
  height: 585px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  overflow: hidden;
  transition: 0.2s ease all;
}
.mobileHero {
  height: 585px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  overflow: hidden;
  transition: 0.2s ease all;
  background-color: black;
}
.backVideo {
  position: absolute;
  right: 0;
  bottom: 0;
  top: 100px;
  z-index: -1;
  width: 100%;
  height: 585px;
  object-fit: cover;
  overflow: hidden;
  transition: 0.2s ease all;
}
.innerContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
}
.innerTextContainer {
  display: flex;
  width: 100%;
  justify-content: center;
}
.innerTextContainer h1 {
  white-space: nowrap;
  -webkit-text-stroke: 0.05vw var(--accent);
  color: transparent;
  font-size: 86px;
  font-weight: bolder;
}
.innerContainer h1::before {
  content: attr(data-text);
  position: absolute;
  color: var(--accent);
  overflow: hidden;
  width: 0;
  border-right: 3px solid var(--accent);
  animation: animate 10s 1s ease-in-out infinite;
}
.innerTextContainer p {
  color: white;
  font-size: 42px;
  margin-top: 24px;
  margin-left: 12px;
  font-weight: thin;
  opacity: 0;
  animation: fadeIn 10s 1s ease-in-out infinite;
}
@keyframes animate {
  0% {
    width: 0;
  }
  10% {
    width: 465px;
  }
  90% {
    width: 465px;
  }
  100% {
    width: 0;
  }
}
@keyframes animateMobile {
  0% {
    width: 0;
  }
  10% {
    width: 300px;
  }
  90% {
    width: 300px;
  }
  100% {
    width: 0;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 100;
  }
  90% {
    opacity: 100;
  }
  100% {
    opacity: 0;
  }
}
@media screen and (max-width: 1080px) {
  .innerTextContainer {
    flex-direction: column;
  }
  .innerContainer h1 {
    font-size: 58px;
  }
  .innerContainer h1::before {
    animation: animateMobile 10s 1s ease-in-out infinite;
  }
  .innerContainer p {
    font-size: 26px;
  }
  .innerContainer h1,
  .innerContainer p {
    text-align: center;
    margin: 0;
    padding: 0;
  }
}
@media screen and (max-width: 1080px) {
  .hero,
  .backVideo {
    height: 475px;
  }
}
@media screen and (max-width: 768px) {
  .hero,
  .mobileHero,
  .backVideo {
    height: 450px;
  }
}
