.header {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
}
.innerHeader h1 {
  text-transform: uppercase;
  font-size: 92px;
  color: var(--accent);
  padding: 48px 0;
  transition: 0.2s ease all;
}
@media screen and (max-width: 1080px) {
  .innerHeader h1 {
    font-size: 58px;
    padding: 24px;
    text-align: center;
  }
}
@media screen and (max-width: 768px) {
  .innerHeader {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
}
